mapbox://styles/luke-rs/clp2rcwm700y601qndjnf4wxr
mapbox://styles/luke-rs/clp2rcwm700y601qndjnf4wxr
mapbox://styles/luke-rs/clp2rcwm700y601qndjnf4wxr

Access Token:
pk.eyJ1IjoibHVrZS1ycyIsImEiOiJjbHAycms3Z2kwcm93MmpvaXZ3cWMyZjV4In0.QcvqbRMVEdnnbOSgTGwwwg

StaticTyles API: 
https://api.mapbox.com/styles/v1/luke-rs/clp2rcwm700y601qndjnf4wxr/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibHVrZS1ycyIsImEiOiJjbHAycms3Z2kwcm93MmpvaXZ3cWMyZjV4In0.QcvqbRMVEdnnbOSgTGwwwg