@import "@styles/settings/_settings";

@import "@styles/settings/_settings";

@font-face {
  font-family: 'MountainsOfChristmas';
  src: url('/fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: 'MountainsOfChristmas';
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $color-green;
  padding: 1em 1.4em;
  border: 0;
  border-radius: .2em;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-green, 10);
  }

  &:disabled {
    color: rgba(white, 0.5);
    background-color: lighten($color-green, 10);
    cursor: default;
    opacity: .6;
  }
}