
// .wire{
//     text-align: center;
//     white-space: nowrap;
//     position: absolute;
//     padding: 0;
//     width: 100%;
//     top: -80px;
//     border-bottom: 3px solid #222;
//     height: 100px;
//  }

//  .wire li {
//     position: relative;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     display: block;
//     width: 15px;
//     height: 30px;
//     border-radius: 50%;
//     margin: 0px 15px;
//     top: 102px;
//     display: inline-block;
//     animation-duration: 1s;
//     animation-fill-mode: both;
//     animation-iteration-count:infinite;
//     animation-name: even-flash;
// }

//  .wire li:nth-child(odd){
//      animation-name: odd-flash;
//  }

// .wire li:before {
//     content: "";
//     position: absolute;
//     width: 14px;
//     height: 10px;
//     border-radius: 4px;
//     top: -5px;
//     left: 0px;
//     background: #444;
// }

// :global {
// @keyframes even-flash {
//     0%, 100% {
//         background: rgba(255,0,0,1); 
//         box-shadow: 0px 2px 20px 4px rgba(255,0,0,1); 
//     }
//     50% {
//         background: rgba(255,0,0,0.5); 
//         box-shadow: 0px 2px 20px 4px rgba(255,0,0,0.3); 
//     }
// }

// @keyframes odd-flash {
//     50% {
//         background: rgba(50,205,50,1);
//         box-shadow: 0px 2px 20px 4px rgba(50,205,50,1);;
//     }
//     0%,100% {
//         background: rgba(50,205,50,0.5);
//         box-shadow: 0px 2px 20px 4px rgba(50,205,50,0.3);
//     }
// }
// }

@keyframes even-flash {
    0%, 100% {
        background: rgb(255, 33, 33); 
        box-shadow: 0px 2px 20px 4px rgba(255,0,0,1); 
    }
    50% {
        background: rgba(255,0,0,0.5); 
        box-shadow: 0px 2px 20px 4px rgba(255,0,0,0.3); 
    }
}

@keyframes odd-flash {
    0%, 100% {
        background: rgba(50,205,50,0.5);
        box-shadow: 0px 2px 20px 4px rgba(50,205,50,0.3);
    }
    50% {
        background: rgba(50,205,50,1);
        box-shadow: 0px 2px 20px 4px rgba(50,205,50,1);
    }
}

@keyframes blue-flash {
    0%, 100% {
      background: rgb(0, 255, 255); 
      box-shadow: 0px 2px 20px 4px rgba(0,0,255,1); 
    }
    50% {
      background: rgba(0, 255, 255,0.5); 
      box-shadow: 0px 2px 20px 4px rgba(0,0,255,0.3); 
    }
  }
  
  @keyframes yellow-flash {
    0%, 100% {
      background: rgb(255, 196, 0); 
      box-shadow: 0px 2px 20px 4px rgba(255,255,0,1); 
    }
    50% {
      background: rgba(255,196,0,0.5); 
      box-shadow: 0px 2px 20px 4px rgba(255,255,0,0.3); 
    }
  }
  
  .green {
    animation-name: odd-flash;
  }

  .red {
    animation-name: even-flash;
  }

  .blue {
    animation-name: blue-flash;
  }
  
  .yellow {
    animation-name: yellow-flash;
  }
  

.wire {
    text-align: center;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    width: 100%;
    bottom: 89%;
    right: 20%;
    // top: 50%; /* Adjusted to be visible on the screen */
    transform: translateY(-50%); /* Center vertically */
    // border-bottom: 3px solid #222;
    height: 100px;
 }

.light {
    position: relative;
    list-style: none;
    margin: 0 15px;
    padding: 0;
    display: inline-block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    top: 102px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.even {
    animation-name: even-flash;
}

.odd {
    animation-name: odd-flash;
}

.light:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 4px;
    top: -15px; /* Adjusted to sit above the light */
    left: 0.5px; /* Centered before the light */
    background: #444;
}
